<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Portfolio</title>
    <script src="https://kit.fontawesome.com/b9d108b29a.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed|Roboto+Slab&display=swap"
        rel="stylesheet">
        <script src="https://unpkg.com/scrollreveal"></script>
    <link rel="stylesheet" href="Public/Css/style.css">
</head>

<body>
    <!--Header-->
    <!--
<header>
        <div class="container_nav">
            <div class="branding">
                <h1>My Portfolio</h1>
            </div>
            <nav class="nav">
                <ul>
                    <li><a href="#">Contact Me</a></li>
                    <li><a href="#">About Me</a></li>
                    <li><a href="#">Projects</a></li>
                </ul>
            </nav>
        </div>
    </header>
    -->


    <!--Carousel-->
    <section class="carousel_container">
        <div class="carousel_inner">
            <div class="hamburger" id="hamburger">
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div class="mobile_links" id="mobile_links">
                <ul>
                    <li><a href="#aboutMe">About me</a></li>
                    <hr>
                    <li><a href="#projects">Projects</a></li>
                    <hr>
                    <li><a href="#Services">Services</a></li>
                    <hr>
                    <li><a href="#contacts">Contact me</a></li>
                    <hr>
                </ul>
            </div>
            <div class="backdrops" id="backdrops"></div>
            <div class="links" id="navbar">
                <ul>
                    <li><a href="#aboutMe">About me</a></li>
                    <li><a href="#projects">Projects</a></li>
                    <li><a href="#Services">Services</a></li>
                    <li><a href="#contacts">Contact me</a></li>
                </ul>
            </div>
            <div class="Heading">
                <h1>OyindaCodes Portfolio</h1>
            </div>
            <div class="carouselBtn">
                <a class="largeBtn" href="#aboutMe" style="text-decoration: none;">Discover me</a>
            </div>
        </div>
    </section>

    <button id="myBtn" class="myBtn"><i class="fa fa-arrow-up" aria-hidden="true"></i></button>

    <!--About Me-->
    <section class="AboutMe" id="aboutMe">
        <div class="me">
            <div class="about_sizing">
                <h1 class="title">Hello Client</h1>
                <div class="stylediv"></div>
                <div class="about">
                    <p>Hi there, My Name is Akogun Oyindamola Solomon,I'm aspiring to be a
                        <span>MERN</span>(MongoDB,Express js,React js,Node js) Stack Application developer and
                        engineer😄😅,And i know the Path isnt Easy,But all hopes is on God to take me through. I am
                        currently in the web developing stage of my career, and i'm Kinda fluent in Javascript even
                        though i've just been coding "SERIOUSLY" for 7 months now, I attend A private School studying
                        Software Engineering-<span><a style="text-decoration: none; color: aqua;" target="_blank"
                                href="http://aptech-nigeria.com/">Aptech</a></span></p>

                    <p>I Work using React js as my frontend framework, A lot of Javascript Coding, And Now Currently
                        Learning Node js..</p>
                </div>
            </div>
            <div class="side">
                <h1 class="offerhead">What I offer</h1>
                <div class="stylediv"></div>
                <!--Offer Cards-->
                <div class="offerCards">
                    <div class="offer_div">
                        <h2>Cheap Services</h2>
                        <p>I do cheap Service, As i'm a newbie to this with less than a yr experience,you wont need to
                            worry much abou the cost☺</p>
                    </div>
                </div>
                <div class="offerCards">
                    <div class="offer_div">
                        <h2>Fast Service</h2>
                        <p>With Good timing from you the client side i'll deliver a finished package in no time to waste
                        </p>
                    </div>
                </div>
                <div class="offerCards">
                    <div class="offer_div">
                        <h2>Team Value</h2>
                        <p>"Together We achieve more" the best way to put my readiness and exitment to be placed in a
                            team, will co-operate well with everyone, and also learn from each other😁😀 </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--Projects-->

    <section class="projects" id="projects">
        <h1 class="cards_head">Projects</h1>
        <div class="card_container">
            <div class="Cards">
                <a href="https://github.com/damoski2/First-react-wep-app-recipe-webapp-...in-progress" target="_blank">
                    <img src="Public/Images/proj1.PNG">
                    <h1>React recipe website(first react web-app)</h1>
                    <p>I created this website,As my first react web app, its a project im kinda happy about, although
                        not about the responsiveness</p>
                </a>

            </div>
            <div class="Cards">
                <a href="https://covid-followup.netlify.app/" target="_blank">
                    <img src="Public/Images/proj2.PNG">
                    <h1>Covid-tracker webapp</h1>
                    <p>An accurate data fetching website using Fetch API with React js to display the current situation
                        of the world wide pandemic</p>
                </a>

            </div>
        </div>
    </section>

    <!--Services And Contact-->
    <section class="container" id="Services">
        <div class="Services_contacts">
            <h1 class="services_head">Services</h1>
            <article>

                <ul>
                    <li>
                        <h3>Website Design</h3>
                        <p>Website Desing is what this business is all about, with my expertise i charge in three
                            different types on website design, based on what the client want.check pricing below to see
                            the charges for each on of them</p>
                        <div class="dropdown">
                            <button class="normalBtn">Pricing</button>
                            <div class="webdev_info" id="webdev_info">
                                <button id="hide_dd"
                                    style="float: right; background: transparent; border: none;">X</button>
                                <p>Frontend : #27,000 - #60,000</p>
                                <p>Backend : #30,000 - #65,000</p>
                                <p>Frontend & Backend : #50,000 - #100,000</p>
                            </div>
                        </div>

                    </li>
                    <li>
                        <h3>Website Maintanance</h3>
                        <p>Maintanance of a website is essential to keep users updated on whats going on with whatever
                            the website is all about, i can maintain the specific website and add all the necessary data
                            for updation when required <span>Charges are in monthly installments</span></p>
                        <p style="color: #be6e11;">Pricing: #30,000 per month</p>
                    </li>
                    <li>
                        <h3>Website Hosting</h3>
                        <p>Website Hosting or deployment also comes in full packages and neewd to be watched by third
                            parties, i deploy Websites to the net for good pricing</p>
                        <p style="color: #be6e11;">Pricing: #25,000-#70,000</p>
                    </li>
                </ul>
            </article>
            <aside>
                <h3>Send a Message</h3>
                {{msg}}
                <form method="POST" action="send">
                    <div>
                        <label>Name</label>
                        <input type="text" name="name">
                    </div>
                    <div>
                        <label>Email</label>
                        <input type="text" name="email">
                    </div>
                    <div>
                        <label>Message</label>
                        <textarea type="textarea" name="message"></textarea>
                    </div>
                    <div>
                       <button type="submit">submit</button>
                    </div>
                </form>
            </aside>
        </div>
    </section>
    <section class="contacts" id="contacts">
        <div class="Contact_me">
            <h1>Contact through hotlines and Gmail</h1>
            <ul>
                <li><i class="fa fa-envelope-o" aria-hidden="true"></i> akogunoyindamola42@gmail.com</li>
                <li><i class="fa fa-envelope-o" aria-hidden="true"></i> akogunolayinka42@gmail.com</li>
                <li><i class="fa fa-phone" aria-hidden="true"></i></i> +234 8073132604</li>
            </ul>
        </div>
    </section>
    <!--Footer-->
    <footer>
        <div class="footer">
            <div>
                <h2> &copy; 2020- Oyindacodes</h2>
            </div>
            <div class="social_links">
                <a href="https://www.facebook.com/oyindamola.akogun"><i class="fa fa-facebook"
                        aria-hidden="true"></i></a>
                <a href="https://twitter.com/AkogunOyindamo3"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                <a href="https://github.com/damoski2"><i class="fa fa-github" aria-hidden="true"></i></a>
                <a href="https://www.instagram.com/oyindamolaakogun/"><i class="fa fa-instagram"
                        aria-hidden="true"></i></a>
                <a href="https://www.youtube.com/channel/UCkAf-zecPdNHZE3o3faf4Tg?view_as=subscriber"><i
                        class="fa fa-youtube" aria-hidden="true"></i></a>
            </div>
        </div>
    </footer>

    <script type="text/javascript" src="Public/Javascript/App.js"></script>
</body>

</html>